<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/bower_components/chosen/chosen.css' />
    <link rel='stylesheet' href='/bower_components/angular-chosen-localytics/chosen-spinner.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-datepicker3.min.css' />
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
    <link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css' />

    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="/bower_components/chosen/chosen.jquery.js"></script>
    <script src="/bower_components/angular-chosen-localytics/dist/angular-chosen.min.js"></script>
    <script src="/js/bootstrap-datepicker.min.js"></script>
    
</head>

<body>
    <nav class="pushy pushy-left">
        <div id="pullout-logo" class="text-center">
            <a href="http://localhost:3000/"><img src="/images/RAN_LOGO_500x500.gif"></a>
        </div>
        <ul id="menu-main-menu" class="top-bar-menu mainMenu">
            <li class="menu-item menu-item-main-menu"><span></span><a href="/expense">Expense Claim</a></li>
            <li class="menu-item menu-item-main-menu"><span></span><a href="/annualleave">Annual Leave</a></li>
            <li class="menu-item menu-item-main-menu"><span></span><a href="/medical">Medical Claim</a></li>
        </ul>
    </nav>
    <div class="site-overlay"></div>

    <div id="pageWrap">

        <header id="main-nav" role="navigation" class="sb-slide" data-responsive="1">
            <div id="nav-container">
                <div id="nav-icon">
                    <div class="menu-btn" id="bars"><i class="fa fa-bars"></i></div>
                </div>
                <div id="nav-logo">
                    <a href="/"><img src="images/rand_logo.png"></a>
                </div>
            </div>
        </header>