<% include ../header.ejs %>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"><%=title %></h3>
    </div>
</div>



<div class="panel-body">

    <div class="container"
         ng-cloak=""
         ng-app="ProgressModule"
         ng-controller="CreateController">

        <% include validationSummary.ejs %>

        <form class="navbar-form navbar-left">

            <div class="row">
                <div class="form-group">
                    <label for="">Total worker</label>
                    <input type="number"
                           class="form-control"
                           placeholder="eg. 2"
                           ng-model="progress.total_manpower"
                           style="width:100%"
                           required
                    >
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="">Paint used</label>
                    <input type="number"
                           class="form-control"
                           placeholder="eg.100"
                           ng-model="progress.total_paint"
                           style="width:100%"
                           required
                    >
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="">M<sup>2</sup> completed</label>
                    <input type="number"
                           class="form-control"
                           placeholder="eg.50"
                           ng-model="progress.total_metresquare"
                           style="width:100%"
                           required
                    >
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="">Remarks</label>
                    <textarea type="text"
                              class="form-control"
                              rows="5"
                              cols="30"
                              ng-model="progress.remarks"
                              style="width:100%"

                    ></textarea>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <button
                            type="button"
                            class="btn btn-primary"
                            ng-click="saveForm(progress)"
                            >Create Project</button>
                </div>
            </div>

        </form>

    </div>
</div>

<script src="/javascripts/app/progress/Module.js"></script>
<script src="/javascripts/app/progress/Service.js"></script>
<script src="/javascripts/app/progress/ValidationService.js"></script>
<script src="/javascripts/app/progress/CreateController.js"></script>
<% include ../footer.ejs %>