<div class="alert alert-dismissible alert-warning" data-ng-show="validationResult.containsValidationError">
    <h4>Please fix the errors before submitting</h4>
    <p>
        <ul id="validationErrorMessage"></ul>
    </p>
</div>
<div class="success">
    <h2></h2>
</div>
<div class="alert alert-dismissible alert-success" data-ng-show="message.containsSuccessfulMessage">
    <strong>{{message.successfulMessage}}</strong>
</div>